.jumbotron h1{
  color: black;
}

.jumbotron{
  background-image: url('../assets/images/animal-cat-cute-46024.jpg');
  background-size: cover;
  background-position: center;
}

.container{
  padding: 25px;
}
.lead{
  font-size:24pt;
}
p{
  font-weight: bold;
  font-size: 18pt;
  color: black;
  text-shadow: 1px 1px #fff;
}
